<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pinpoint Events & Tasks</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
<header>
    <div class="header-content">
        <h1>Networking</h1>
        <p>Your Interactive Map for Events and Task Assignments</p>
    </div>
    <div class="header-buttons">
        <a href="/login"><button class="login-button">Login</button></a>
        <a href="/register"><button class="signup-button">Signup</button></a>
    </div>
</header>

<section class="main-content">
    <h2>Services Provided</h2>
    <p>We offer a dynamic, location-based platform that enables user groups to create interactive, named pinpoints on a map, each accompanied by a detailed description. Once a pinpoint is established, it becomes visible to our entire user community, who can then engage with the event by simply clicking on the corresponding map marker.</p>
    <h3>Bounty Tasks</h3>
    <p>In addition to event interaction, our platform also supports task assignment via 'Bounty Tasks'. Users can set a financial or reward-based incentive for specific tasks linked to a pinpoint. Community members can then opt to complete these tasks by selecting the pinpoint and reporting upon task completion.</p>
</section>

<footer>
    <p>Copyright © 2023, Pinpoint Events & Tasks. All Rights Reserved.</p>
</footer>
</body>
</html>
